<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <link rel="stylesheet" href="../../my-app/src/Components/UserDashboard/css/ChangePassword.css"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
    />
    <title>Change password</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
      var status = "<%- JSON.stringify(status)%>";
      if (status == 201) {
        alert("Password Changed");
        window.location.href = "http://localhost:3000/login";
      } else if (status == 402) {
        alert("Kindly fill the data");
      } else if (status == 429) {
        alert("password length should be greater than 5.");
      } else if (status == 412) {
        alert("Password and confirm password should be same");
      } else if (status == 411) {
        alert("Something wrong");
      }
    </script>
    <style>
      .container .login-form {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        font-family: Poppins;
        box-sizing: border-box;
        max-width: 550px;
        border-radius: 0.5rem;
        background-color: white;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }
      h2 {
        padding-bottom: 30px;
        text-align: center;
        font-family: "Poppins";
      }

      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8rem;
      }
      #submitButton1 {
        width: 100%;
        padding: 10px 10px;
        margin: auto;
        border: none;
        display: block;
        color: #fff;
        background-color: #000000;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
        border-radius: 4px;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
      }
      #submitButton1:hover {
        color: #000000;
        background-color: white;
        border: 1px solid black;
      }
      .cardStyle {
        width: 100%;
        border-color: white;
        background: #fff;
        padding: 44px 0px;
        border-radius: 4px;
        margin-top: 20px;
        margin-left: 20rem;
        box-shadow: 0px 0 2px 0 rgba(0, 0, 0, 0.25);
      }
      .login-form input {
        padding: 12px;
        margin-bottom: 20px;
        border: none;
        border-radius: 5px;
        background-color: #f4f4f4;
        font-size: 1rem;
        width: 90%;
      }
    </style>
  </head>
  <body>
    <div>
      <div class="container">
        <form method="post" action="" class="login-form">
          <div
            style="
              background-color: white;
              padding: 50px 50px;
              border-radius: 20px;
            "
          >
            <h1
              style="
                padding-bottom: 20px;
                text-align: center;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
                  'Trebuchet MS', sans-serif;
                font-weight: 700;
              "
            >
              CHANGE PASSWORD
            </h1>
            <p class="text-black-50" style="text-align: center">
              Please enter your essential details for registration
            </p>

            <input
              type="password"
              placeholder="Enter password"
              name="password"
              id="password"
            />
            <input type="submit" value="Submit" id="submitButton1" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
